<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoHallUI</servlet-name>
    <servlet-class>com.rogan.servlet.GoHallUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCLServlet</servlet-name>
    <servlet-class>com.rogan.servlet.ShoppingCLServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoMyOrder</servlet-name>
    <servlet-class>com.rogan.servlet.GoMyOrder</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.rogan.servlet.SubmitOrderServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>GoHallUI</servlet-name>
    <url-pattern>/GoHallUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCLServlet</servlet-name>
    <url-pattern>/ShoppingCLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoMyOrder</servlet-name>
    <url-pattern>/GoMyOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>

</web-app>